@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@400;500;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Nunito", "Montserrat", "Poppins", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --main-color: #646fd4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.credits {
  color: white;
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 20px;
  padding: 3px 6px;
}
